<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('head') %>
  <body>
    <link rel="stylesheet" href="/theme/zero/zero.css">
    <div class="hero">
      <%- include('navbar') %>
      <h1><%= title %></h1>
    </div>
    <section class="body">
      <%- content %>
    </section>
    <br>
    <%- include('footer') %>
  </body>
</html>
