<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('head') %>
  <link rel="stylesheet" href="/theme/zero/zero.css">
  <body>
    <div class="hero">
      <%- include('navbar') %>
      <div class="center">
        <h1 class="word-wrap" style="margin: 30px;text-align:center;"><%= blog.author %></h1>
        My Blog

      </div>
      </div>

    <div class="article-div">
         <div class="row">

            <% for(var i=0;i<posts.length;i++) { %>
            <div class="article">
              <div class="container-fluid">
               <div class="row">
                  <div class="">
                     <h1><%= posts[i].title %></h1>
                     <div class="wrapper">
                        <p><%= posts[i].caption %></p>
                        <a class="btn btn-inverse" href="/feed/<%= posts[i].suffix %>" style="float:right;margin-right:20px">Read more</a>
                     </div>
                    </div>
               </div>
              </div>
            </div>
            <br>
            <% } %>
      </div>
   </div>
   <script src="/js/jquery/jquery.js" charset="utf-8"></script>
   </body>
</html>
